* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}

body {
    position: relative;
    height: 100vh;
    /* background-color: red; */
}

body .controls {
    background-color: skyblue;
    display: flex;
    padding: 0px 4px;
    margin: 0px auto;
    border-radius: 5px;
    position: fixed;
    z-index: 9;
    left: 50%;
    transform: translate(-50%, 10px);
    justify-content: space-between;
    align-items: center;
}

body .controls .control {
    padding: 16px 14px;
}

body .controls .control img {
    display: block;
    width: 4rem;
    scale: 1;
}

body .controls:hover .control img {
    animation-name: control-un-hover-animation;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

body .controls .control:hover img {
    animation-name: control-hover-animation;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes control-hover-animation {
    from {
        scale: 1;
    }
    to {
        scale: 1.5;
    }
}

@keyframes control-un-hover-animation {
    from {
        scale: 1;
    }
    to {
        scale: 0.8;
    }
}

body .controls .control.eraser .slider,
body .controls .control.pencil .colors {
    position: absolute;
    top: 90px;
    left: -30px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: burlywood;
    display: none;
    justify-content: space-around;
    align-items: center;
}

body .controls .control.eraser .slider {
    left: 66px;
}

body .controls .control.eraser:hover .slider,
body .controls .control.pencil:hover .colors {
    display: flex;
    /* flex-direction: column; */
}

body .controls .control.pencil .colors .color {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: burlywood;
}

body .controls .control.pencil .colors .color:nth-child(1) {
    background-color: black;
}

body .controls .control.pencil .colors .color:nth-child(2) {
    background-color: red;
}

body .controls .control.pencil .colors .color:nth-child(3) {
    background-color: green;
}

body .controls .control.pencil .colors .color:nth-child(4) {
    background-color: blue;
}

body .sticky-notes {
    display: block;
    position: absolute;
    width: 250px;
    border: 1px solid black;
    height: fit-content;
    top: 120px;
    left: 20px;
}

body .sticky-notes .header {
    height: 30px;
    background-color: blue;
    cursor: move;
}

body .sticky-notes .header .notes-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

body .sticky-notes .header .notes-controls .notes-control {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

body .sticky-notes .content {
    height: 180px;
    transition: height 0.3s;
}

body .sticky-notes .content.hide {
    height: 0px;
}

body .sticky-notes .content.hide * {
    display: none;
}

body .sticky-notes .content .text-area-input {
    width: 100%;
    height: 100%;
    resize: none;
}

body .sticky-notes .content .text-area-input:focus {
    outline: none;
}

body .sticky-notes .content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}